ion-card{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

ion-card-title{
    position: absolute;
    top:64%;
    letter-spacing: 1.3px;
    padding:5px;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
}