<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
       Activities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card *ngFor="let country of countries" style="margin-top:1.5rem;" margin color="primary">
         
      <img src="{{country.countryimage}}" alt="picture">
      <ion-card-title>
        {{country.countryname}}
      </ion-card-title> 
       <ion-card-content>
        <ion-grid>
           <ion-row>
              <ion-col size="3" style="margin-top:-2%;">
                  <ion-button text-left size="small"  shape="rounded" color="success">{{country.countryprice}} $</ion-button>
              </ion-col>

              <ion-col size="9" text-right>
                  {{country.countryreducere}}
                </ion-col>
           </ion-row>
        </ion-grid>
       </ion-card-content> 
    </ion-card>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button color="warning">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button> <ion-icon name="logo-google"></ion-icon> </ion-fab-button>
       
            <ion-fab-button> <ion-icon name="logo-facebook"></ion-icon> </ion-fab-button>
        
            <ion-fab-button> <ion-icon name="logo-ionic"></ion-icon> </ion-fab-button>
        
            <ion-fab-button> <ion-icon name="logo-google"></ion-icon> </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
