@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

.titleReg{
 font-weight:bold;
 letter-spacing: 0.4px;
 font-family: 'Mali', cursive;
}

.coloricon{
    color:#7044ff;
    margin-right: 3px;
    font-size: 1.8rem;
}

.error-messages{
	font-size: 0.9em;
	color:red;
	text-align: center;
}