
.ContentForm{
	margin:auto;
}

.textrow{
	font-size:20px;
	font-weight:bold;
	color:rgb(14, 1, 1);
}

.logimg img{
	width:60%;
	color:#f4f4f4;
	margin-top: 2rem;
}


.logotext1{
	font-weight:bold;
	color:#f4f4f4;
	font-size:40px;
	letter-spacing: 1px;
	text-shadow: 0px 0px 10px  rgba(0,0,0,0.2);
	font-family: 'Shadows Into Light', cursive;
}

ion-content{
	--background: var(--ion-color-fovorite-tint);
}

.forgotpass{
	border:none;
	color: #f4f4f4;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	font-weight: 700;
}


.register{
	border:none;
	color: #f04141;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	font-weight: 700;
}

.iconuser{
	color:#3880ff;
	font-size:1.5rem;
}

ion-item{
	border-radius: 30px;
}

.error-messages{
	font-size: 0.97em;
	font-weight: bold;
	color:rgb(240, 63, 10);
	text-align: center;
}

.lightbtn{
	--border-radius: 30px;
	--padding-left: 15px;
	--padding-right: 15px;
}