<ion-app>
  <ion-split-pane main id="content">
    <ion-menu  slot="start" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <div class="user-avatar">
                         <img src="../assets/img/settingimg.png" alt="picture">
                      </div>
                   </ion-col>
                   <ion-col>
                      <h2 class="username">Danu Rosca</h2>
                      <span>Status: Online</span>
                   </ion-col>
              </ion-row>

              <ion-row text-right>
                  <ion-col>
                      <ion-button routerLink="/editprofile" class="paddingbutton" size="small" color="danger">Edit Profile</ion-button>
                      <ion-button routerLink="/login"  size="small" color="success">Logout</ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main contentId="content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
