<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
   
      
    <ion-card style="margin-top: 3.5rem;">   
        <ion-item tappable>
            <ion-icon name="search" color="primary" style="margin-right: 10px; font-size: 20px;"></ion-icon>
             <span></span>
        </ion-item>

          <ion-item>
             <ion-icon name="calendar" color="primary" style="margin-right: 10px; font-size:20px;"></ion-icon>
             <span></span>
            </ion-item> 
    </ion-card>  
      
   <ion-button expand="block"><ion-icon name="search" style="margin-right:3px;"></ion-icon> Search</ion-button>
      
             
</ion-content>
